/**********
*   ROOT  *
************/
:root {

    /*color*/
    --color-bg-header:#f8f9fa;
    --color-bg-nav-logo:#ffffff;
    --color-bg-sidebar:#051e34;
    --color-sm-button :#ff8f00;

    /*sizes*/
    --height-header:70px;
    --width-sm-sidebar:70px;
    --width-lg-sidebar:100px;
    --width-mobile-logo:50px;
    --width-desktop-logo:133px;
}


/**********
*  COMMON  *
************/
img { 
    max-width: 100%;
}

.ms-wrapper {
    width: 100%;
    height: 100vh;
    /*debug*/
    background-color: aquamarine;
}

/**********
*   HEADER  *
************/
header {
    width: 100%;
    height: var(--height-header);
    background-color: var(--color-bg-header);
}

/**********
*   NAV  *
************/

/************LOGO*************/
#nav div.a {
    /*debug*/
    background-color: orchid;
}

#nav .ms-logo {
    /*debug*/
    background-color: var(--color-bg-nav-logo);
}

#nav  .ms-mobile-logo {
    display: block;
    width: var(--width-mobile-logo);
}

#nav  .ms-desktop-logo {
    display: none;
    width: var(--width-desktop-logo);
    line-height: 50px;
}

@media screen and (min-width:992px) {
    
    #nav .ms-mobile-logo {
        display: none;
    }

    #nav .ms-desktop-logo {
        display: block;
    }
    
}

/************SEARCH-BAR*************/


/************ALLERT*************/
#nav .ms-lg-button {
    display: none;
}

#nav .ms-sm-button .ms-sm-color-button {
    color:var(--color-sm-button) ;
}

@media screen and (min-width:992px) {
    
    #nav .ms-lg-button {
        display: inline-block;
    }
    
}



/**********
*   MAIN  *
************/
/**********
* SIDEBAR  *
************/
#ms-sidebar {
    height: calc(100vh - var(--height-header)); 
    width: var(--width-sm-sidebar);
    /*debug*/
    background-color:var(--color-bg-sidebar);
}

#ms-sidebar .ms-height-100 {
    height: 100%;
}

#ms-sidebar .ms-height-content {
    height: fit-content;
}




@media screen and (min-width:992px) {
    #ms-sidebar {
        width: var(--width-lg-sidebar);
    }
}

/**********
*  CONTENT  *
************/

#ms-content {
    width: 100%;
}

#ms-content .row> * {
    border: 1px solid black;
    background-color: antiquewhite;
}
