/**********
*   ROOT  *
************/
:root {

    /*color*/
    --color-bg-header:#f8f9fa;
    --color-bg-sidebar:#051e34;

    /*sizes*/
    --height-header:70px;
    --width-sm-sidebar:70px;
    --width-lg-sidebar:100px;
}


/**********
*  COMMON  *
************/
.ms-wrapper {
    width: 100%;
    height: 100vh;
    /*debug*/
    background-color: aquamarine;
}

/**********
*   HEADER  *
************/
header {
    width: 100%;
    height: var(--height-header);
    background-color: var(--color-bg-header);
}

/***********NAV*********/
#nav div.a {
    /*debug*/
    width: 20px;
    background-color: orchid;
}


/**********
*   MAIN  *
************/
/**********
* SIDEBAR  *
************/
#ms-sidebar {
    height: calc(100vh - var(--height-header)); 
    width: var(--width-sm-sidebar);
    /*debug*/
    background-color:var(--color-bg-sidebar);
}

#ms-sidebar .ms-height-100 {
    height: 100%;
}

#ms-sidebar .ms-height-content {
    height: fit-content;
}




@media screen and (min-width:992px) {
    #ms-sidebar {
        width: var(--width-lg-sidebar);
    }
}

/**********
*  CONTENT  *
************/

#ms-content {
    width: 100%;
}

#ms-content .row> * {
    border: 1px solid black;
    background-color: antiquewhite;
}
