/**********
*   ROOT  *
************/
:root {

    /*color*/
    --color-bg-header:#f8f9fa;
    --color-bg-nav-logo:#ffffff;
    --color-bg-search:#e5e5e5;
    --color-sm-button :#ff8f00;
    --color-bg-sidebar:#051e34;
    --color-bg-breadcrumb :#1b72e8;
    --color-bg-btn-breadcrumb :#165bba;

    /*sizes*/
    --height-header:70px;
    --width-sm-sidebar:50px;
    --width-lg-sidebar:125px;
    --width-mobile-logo:50px;
    --width-desktop-logo:133px;
}


/**********
*  COMMON  *
************/
img { 
    max-width: 100%;
}

.ms_wrapper {
    width: 100%;
    height: 100vh;
    /*debug*/
    background-color: aquamarine;
}

ul {
    list-style: none;
}

/**********
*   HEADER  *
************/
header {
    width: 100%;
    height: var(--height-header);
    background-color: var(--color-bg-header);
}


/**********
*   NAV  *
************/

/************LOGO*************/
#nav .ms_mobile-logo {
    width: var(--width-mobile-logo);
}

#nav  .ms_desktop-logo {
    width: var(--width-desktop-logo);
    line-height: 50px;
}

/************SEARCH-BAR*************/
#nav .ms_search-bar {
    background-color: var(--color-bg-search);
}

#nav .ms_input-search {
    border: 0;
    background-color: var(--color-bg-search);
}

/************MENU*************/
#nav .ms_sm-button .ms_sm-color-button {
    color:var(--color-sm-button) ;
}



/**********
*   MAIN  *
************/
.ms_main {
    height: calc(100vh - var(--height-header)); 
    width: 100%;
}

/**********
* SIDEBAR  *
************/
#ms_sidebar {
    height: 100%;
    width: var(--width-sm-sidebar);
    overflow-y: hidden;
    background-color:var(--color-bg-sidebar);
}

#ms_sidebar .ms_list {
    height: 100%;
}

#ms_sidebar .ms_button {
    border: 0; 
}

@media screen and (min-width:992px) {
    #ms_sidebar {
        width: var(--width-lg-sidebar);
    }
}

/**********
*  CONTENT  *
************/

#ms_content {
    width: calc(100% - var(--width-sm-sidebar));
    height: 100%;
    overflow-y: auto;
}



@media screen and (min-width:992px) {
    #ms_content {
        width: calc(100% - var(--width-lg-sidebar));
    }
}


/************
*BREADCRUMB  *
************/
.ms_breadcrumb {
    background-color: var(--color-bg-breadcrumb);
}

.ms_btn-breadcrumb-plus {
    border: 1px solid white;
}

.ms_btn-breadcrumb {
    background-color: var(--color-bg-btn-breadcrumb);
    width: fit-content;
    font-size: .8rem;
}



